

<div class="row marketing">
  <h4>Resume</h4>
  <p> PlayerID : {{playerId}} | MatchID : {{matchId}}</p>
  <ul>
    <li> Aces : {{data.aces}} </li>
    <li> Forehands : {{ data.forehands}} </li>
    <li> Backhands : {{ data.backhands}} </li>
  </ul>

  <p>
    <button type="button" class="btn btn-default btn-lg btn-block" ng-click="incremente('aces')">Ace +1</button>
    <button type="button" class="btn btn-default btn-lg btn-block" ng-click="incremente('forehands')">Forehand +1</button>
    <button type="button" class="btn btn-default btn-lg btn-block" ng-click="incremente('backhands')">Backhand +1</button>
  </p>


</div>
